.item {
  margin: 1%;
  border: 2px solid gray;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.name {
}

.city {
}

.city_time {
}

.bm_price {
}
.bm_time {
}

.profit {
}
