.item {
  margin: 0.5%;
  border: 2px solid gray;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.name {
  grid-column-start: 1;
}

.quality {
  grid-column-start: 2;
}

.city {
  grid-column-start: 3;
}

.city_time {
  grid-column-start: 4;
}

.bm_price {
  grid-column-start: 5;
}
.bm_time {
  grid-column-start: 6;
}

.profit {
  grid-column-start: 7;
}
